# Пример, значения-заглушки
POSTGRES_HOST=postgres
POSTGRES_DB=erpnext
POSTGRES_USER=erp
POSTGRES_PASSWORD=change_me
REDIS_CACHE=redis://redis-cache:6379
TELEGRAM_BOT_TOKEN=put_here
GDRIVE_CREDENTIALS_JSON=./secrets/gdrive.json
